<!DOCTYPE html>
<html lang="en">
<%- include ('globals/head') %>
<%- include ('globals/navbar') %>
<body>
    
    <div class="split-for-desktop">
        <overview-content id="post"></overview-content>
        <hero-element></hero-element>    
    </div>

    <div class="cards">
        <cards-content id="list"></cards-content>
    </div>
    
</body>
</html>