/** 
    * *Overview
    * !Font Family
    * *Primary="Raleway"
    * *Secondary="Open Sans"
    */
$ff-primary: 'Noto Sans', sans-serif;
$ff-secondary: "Open Sans", sans-serif;

// Raleway
$fs-base: 0.875rem;
$fs-sm: 0.571rem;
$fs-lg: 0.857em;
$fs-2xl: 1.285rem;
$fs-3xl: 1.5rem;
$fs-4xl: 2.5rem;

// Open Sans
$fs-md: 0.714rem;
$fs-base: 0.875em;
$fs-xl: 1.143rem;
